.blog-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 95vh;
}

.blog-left{
    width: 55%;
    height: 90%;
    /* border: 1px black solid; */
}

.blog-right{
    width: 35%;
    height: 100%;
    /* border: 1px black solid; */

}

/* Content */


.post-title {
    color: white;
    border: 3px solid white;
    display: inline-block;
    margin: 1em;
}

.blog-content{
    background-color: black;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}

.blog-img{
    width: 70%;
    border: 5px white solid
}

.post-content{
    margin: 0 2rem;
}

/* Recent Uploads */

.recent-uploads{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-upload{
    border: 3px black solid;
    width: 70%;
    margin: 1rem;
}

.upload-img {
    width: 50%;
}

/* Footer */

.footer {
    position: fixed;
    display: flex;
    right: 0;
    left: 1400px;
    bottom: 0;
    width: auto;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    
}